<?xml version="1.0"?>
<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        syntaxCheck="true"
        columns="max"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/</directory>
            <exclude>tests/Integration</exclude>
        </testsuite>
        <testsuite name="integration">
            <directory>./tests/Integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="WM_SCHEME" value="http"/>
        <env name="WM_HOST" value="localhost"/>
        <env name="WM_PORT" value="8080"/>
    </php>
</phpunit>
